.container{
	display: contents;
	margin-left: 23%;
	margin-top: 10%;
	margin-right: 15%;
	margin-bottom: 19%;  
	background: lightgrey;
	padding: inherit;
}
body{
	background-color: white;
}
label{
	font-size: 150%; 
	font-weight: bold;
	color: black;
	font-family: 'Thasadith', sans-serif;
	padding-right: 5%; 
	padding-left: 5%;
	position: relative;
}
#rowinput{
	padding-left: 14%;
	padding-right: 14%;
	padding-top: 1%;
	padding-bottom: 0.5%;
	border-radius: 4px;
	margin-left: 8.5%;
	font-family: 'Thasadith', sans-serif;
	position: relative;

}
#rowmessage{
		padding-left: 14%;
	padding-right: 14%;
	padding-top:5%;
	padding-bottom: 5%;
	border-radius: 4px;
	margin-left: 4.5%;
	font-family: 'Thasadith', sans-serif;
	position: relative;
}